---
pageable: true
per_page: 10
nav_items:
    - Projects
    - Thoughts
    - Contact
projects:
    - All Along The Sava
    - Kergadou
    - Figure Nine
    - Cornerstone Labs
    - PCIB
    - Matthew Somerville
---
<!-- <div class="baseline"></div> -->
<section class="hero-wrapper">
    <div class="container hero">
        <header class="global-header">
            <span class="logo">Tom Laker</span>
            <nav class="global-nav">
                <div class="global-nav__toggle" id="nav-toggle">
                    <svg viewBox="0 0 30 30" class="icon-menu">
                         <use xlink:href="images/icons.svg#icon-menu"></use>
                    </svg>
                    Menu
                </div>
                <ul>
                    <% current_page.data.nav_items.each do |i| %>
                    <li class="global-nav__item"><%= i %></li>
                    <% end %>
                </ul>
            </nav>
        </header>
        <div class="hero__content">
            <h3 class="hero__welcome" id="welcome-msg">Good Day</h3>
            <h1 class="hero__heading">I build unique &amp; functional websites &amp; applications.</h1>
        </div>
    </div>
</section>

<div class="container">
    <section class="intro">
        <div class="intro__content">
            <div class="intro__text">
                <p>I work with people and businesses to produce websites and applications that have purpose, whether that be to
                    educate, invent or to simply, generate business.
                </p>
                <p>With the ability to design and develop, I understand what’s needed to produce digital products that not only have
                    beautiful form and function but help to deliver on the overall goals of the business or project.
                </p>
                <button class="btn" id="intro-toggle"><span>Read More<span></button>
            </div>
            <div class="intro__more" id="intro-more">
                <div class="intro__col">
                    <p>My design background has given me a strong opinion on what design should be and how it should be used
                        responsibly. Design is much more than making something work or look beautiful, for a truely great
                        design we need to consider the implications of what we are producing. With that in mind i am
                        particularly interested in working with people or businesses that are trying to educate, invest or
                        advance nature or society in any way, but I welcome any communication.
                    </p>
                </div>
                <div class="intro__col">
                    <p>If you’re a studio, I can fit into your team as a designer or front end developer. If you’re a
                        business I can help you build your product from the ground up. If you’re an individual looking to
                        collaborate on something, get in touch and let’s make something.
                    </p>
                    <p>My development knowledge includes HTML/CSS, Sass, Javascript/jQuery, Gulp, Git and a comprehensive
                        understanding of progressive enhancement, accessibility and many frameworks and libraries.
                    </p>
                </div>
            </div>
        </div>
        <svg viewBox="0 0 30 30" class="intro__line" id="intro-line" preserveAspectRatio="none">
             <use xlink:href="images/icons.svg#line"></use>
        </svg>
    </section>
</div>


<section class="projects">
    <div class="container">

        <div class="projects__row">
            <div class="projects__media">
                <h2 class="projects__heading">All Along The Sava</h2>
                <img src="images/project-img.jpg" class="projects__img"/>
            </div>
            <div class="projects__media--small">
                <h2 class="projects__heading">Figure Nine</h2>
                <img src="images/project-img-small.jpg" class="projects__img"/>
            </div>
        </div>

        <div class="projects__row">
            <div class="projects__media">
                <h2 class="projects__heading">All Along The Sava</h2>
                <img src="images/project-img.jpg" class="projects__img"/>
            </div>
            <div class="projects__media--small">
                <h2 class="projects__heading">Figure Nine</h2>
                <img src="images/project-img-small.jpg" class="projects__img"/>
            </div>
        </div>

        <div class="projects__row">
            <div class="projects__media">
                <h2 class="projects__heading">All Along The Sava</h2>
                <img src="images/project-img.jpg" class="projects__img"/>
            </div>
            <div class="projects__media--small">
                <h2 class="projects__heading">Figure Nine</h2>
                <img src="images/project-img-small.jpg" class="projects__img"/>
            </div>
        </div>
    </div>
</section>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.body %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
